html,
body {
    height: 100%;
}

body {
    background-color: #FF7F50;
}

* {
    -webkit-user-drag: none;
}

.fishes {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 300%;
    height: 300%;
}

.corals {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.fish {
    width: 250px;

    position: absolute;
    transform: translate(-50%, -50%);
}

.coral {
    width: 250px;
    position: absolute;
    transform: translate(-50%, -50%);
}

img {
    width: 100%;
}
