.list-toggle {
	background-color: #EEEEEE;
	color: #444444;
	border: 1px solid #000000;
	padding: 10px;
	font-size: 24px;
	font-family: 'Helvetica';
	width: 250px;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.list {
	background-color: #EEEEEE;
	color: #444444;
	border: 1px solid #000000;
	padding: 10px;
	font-size: 24px;
	font-family: 'Helvetica';
	width: 250px;
	border-radius: 10px;
}

.list-item {
	margin-bottom: 24px;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.list-item:last-child {
	margin-bottom: 0;
}

.list-item-header {
	font-weight: bold;
}
